.progress-status {
	display: flex;
	flex-direction: row;
}
.progress-status-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.table {
	padding: 20px;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.paper{
	width: 80%;
}